[submodule "yocto/poky"]
	path = yocto/poky
	url = https://github.com/yoctoproject/poky
	branch = scarthgap
	shallow = true

[submodule "yocto/meta-openembedded"]
	path = yocto/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = scarthgap
	shallow = true
