[submodule "kernel-6.1"]
	path = kernel-6.1
	url = https://github.com/Augmented-Racing/kernel.git
	branch = rock5b
	shallow = false

[submodule "u-boot"]
	path = u-boot
	url = https://github.com/rockchip-linux/u-boot
	branch = next-dev
	shallow = true

[submodule "rkbin"]
	path = rkbin
	url = https://github.com/rockchip-linux/rkbin
	branch = master
	shallow = true

[submodule "yocto/poky"]
	path = yocto/poky
	url = https://github.com/yoctoproject/poky
	branch = scarthgap
	shallow = true

[submodule "yocto/meta-openembedded"]
	path = yocto/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = scarthgap
	shallow = true

[submodule "yocto/meta-rockchip"]
	path = yocto/meta-rockchip
	url = https://github.com/Augmented-Racing/meta-rockchip.git
	branch = rock5b
	shallow = false

[submodule "tools"]
	path = tools
	url = https://github.com/JeffyCN/mirrors
	branch = tools
	shallow = true
