RK_LOADER=y
RK_UBOOT_CFG="rk3588"
RK_KERNEL=y
RK_KERNEL_ARCH="arm64"
RK_KERNEL_CFG="rockchip_linux_defconfig"
RK_KERNEL_DTS_NAME="rk3588-rock-5b"
RK_ROOTFS=y
RK_YOCTO=y
RK_YOCTO_MACHINE="rockchip-rk3588-evb"
RK_PARAMETER="parameter.txt"
RK_USE_FIT_IMG=y
